@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display-swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242a;
}


.sign-box{    
    position: relative;
    width: 360px;
    height: 400px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;

}

.sign-box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    width: 360px;
    height: 400px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    animation: animate 6s linear infinite;
}
.sign-box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    width: 360px;
    height: 400px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }    
    100%{
        transform: rotate(360deg);
    }
}

.signin-form{
    position: absolute;
    background: #28292d;
    inset: 2px;
    border-radius: 8px;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.signin-form h2{
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.signin-input-box{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.signin-input-box input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.signin-input-box span {
     position: absolute;
     left: 0;
     padding: 20px 10px 10px;
     font-size: 1em;
     color: #8f8f8f;
     pointer-events: none;
     letter-spacing: 0.05em;
     transition: 0.5s;

}

.signin-input-box input:valid ~ span,
.signin-input-box input:focus ~ span
{
    transform: translateX(-10px) translateY(-34px);
    color: #45f3ff;
    font-size: 0.75em;
}

.signin-input-box i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.signin-input-box input:valid ~ i,
.signin-input-box input:focus ~ i
{
    height: 44px;
}

.btns{
    display: flex;
    justify-content: space-between;
}
.btns a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.btns a:hover,
.btns a:nth-child(2)
{
    color: #45f3ff;
}

input[type="submit"]
{
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:active{
    opacity: 0.8;
}